@model E_CommerceLibrary.Models.Seller

<!DOCTYPE html>
<html>
<head>
    <title>Create Seller</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h2 {
            color: #333;
        }

        .form-horizontal {
            width: 50%;
            margin: 20px auto;
            background-color: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 20px;
        }

        .control-label {
            font-weight: bold;
        }

        .btn-default {
            background-color: #333;
            color: white;
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .btn-default:hover {
                background-color: #555;
            }
    </style>
</head>
<body>

    <h2>Create Seller</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SellerName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SellerName)
                    @Html.ValidationMessageFor(model => model.SellerName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BookID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BookID, (SelectList)ViewBag.BookID, "Select a Book")
                    @Html.ValidationMessageFor(model => model.BookID)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</body>
</html>
